:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    --text-color: black;
    --background-color: #eae3e7;
    --primary-color: #3d85c6;
    --primary-color-hover: #489eec;
    --primary-color-darker: #1f5f97;
    --secondary-color: #cc4a40;
    --theme-hover: #333333;

    --transition-duration: 0.1s;
    --semi-bold: 500;
    --rounded: 5px;
}

html[data-theme="dark"] {
    --text-color: white;
    --background-color: #1d1d1d;
    --theme-hover: #CCCCCC;
}

html[data-theme="dark"] a:link{
    color: #5fb1ff;
}

html[data-theme="dark"] a:visited{
    color: #d13ac5;
}

* {
    text-align: center;
}

table {
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}

th, td {
    padding: 4px;
    border: 1px solid;
}

li {
    text-align: left;
}

thead {
    font-weight: bold;
}

h1 {
    color: var(--primary-color);
    text-align: center;
}

h2 {
    color: var(--secondary-color);
    text-align: center;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div {
    margin: 0 2rem;
    display: flex;
    gap: 1rem;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: var(--semi-bold);
    color: white !important;
    background-color: var(--primary-color-darker);
    padding: 1rem;
    border-radius: var(--rounded);
    transition: var(--transition-duration);
}

nav a:hover {
    background-color: var(--primary-color-hover);
}

nav a.selected {
    background-color: var(--primary-color);
}

.darkmode-toggle {
    position: absolute;
    right: 40px;
    font-size: 16px;
    font-weight: bold;
    padding-right: 16px;
    padding-left: 16px;
    border: none;
    border-radius: var(--rounded);
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background-color);
    transition: var(--transition-duration);
}

.darkmode-toggle:hover {
    background-color: var(--theme-hover);
}

.darkmode-toggle div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.darkmode-toggle img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

html[data-theme="dark"] .darkmode-toggle img {
    filter: invert(0);
}


.large-table {
    width: 100%;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;column-gap: 150px;
}

.inner-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.triple-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    column-gap: 100px;
}