* {
    text-align: center;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}

th, td {
    padding: 4px;
    border: 1px solid;
}

li {
    text-align: left;
}

thead {
    font-weight: bold;
}

.large-table {
    width: 100%;
}

header {
    position: relative;
    color: #cc4a40;
}

h1 {
    color: #3d85c6;
}

h2 {
    color: #cc4a40;
    text-align: center;
}

body {
    background-color: #eae3e7;
    font-size: 20px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    color: black;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;column-gap: 150px;
}

.inner-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.triple-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    column-gap: 100px;
}